body {
  font-family: arial;
  font-size: 12px;
  color: #666;
}
form {
  width: 500px;
  background: #3a5e58;
  padding: 50px 25px;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
form input,
form textarea {
  font: inherit;
  padding: 5px 5px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
form button {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 8px 35px;
  font-size: 13.5px;
  background: #ffffff;
  color: #e8c44f;
}
form label {
  color: #ffffff;
  font-size: 13px;
  margin-bottom: 2px;
  display: block;
}
